<?php

namespace WebChefs\QueueButler\Versions;

// Package
use WebChefs\QueueButler\Contracts\AbstractBatchCommand;

class Laravel5_xBatchCommand extends AbstractBatchCommand
{
    // 5.x modifications
}